{
  "extends": ["stylelint-config-standard", "stylelint-config-recess-order", "stylelint-config-prettier"],
  "rules": {},
  "overrides": [
    {
      "files": ["**/*.jsx", "**/*.tsx", "**/*.css"],
      "rules": {
        "at-rule-no-unknown": [
          true,
          {
            "ignoreAtRules": ["tailwind"]
          }
        ]
      },
      "customSyntax": "@stylelint/postcss-css-in-js"
    }
  ]
}
