// create: https://palx.jxnblk.com/;
// base color: #2b95ff;
$isColorBase0: #f9f9fa;
$isColorBase1: #eceef0;
$isColorBase2: #dde1e5;
$isColorBase3: #ced4d9;
$isColorBase4: #bdc5cc;
$isColorBase5: #abb4bd;
$isColorBase6: #96a1ad;
$isColorBase7: #7e8a97;
$isColorBase8: #646d77;
$isColorBase9: #3a4045;

$isSiteColor0: #f5faff;
$isSiteColor1: #e0efff;
$isSiteColor2: #c9e4ff;
$isSiteColor3: #afd7ff;
$isSiteColor4: #92c9ff;
$isSiteColor5: #71b8ff;
$isSiteColor6: #48a4ff;
$isSiteColor7: #288bee;
$isSiteColor8: #206ebc;
$isSiteColor9: #13416e;

$isGraphColor1: $isSiteColor5;
$isGraphColor2: #ababff;
$isGraphColor3: #cf9eff;
$isGraphColor4: #ff84ff;
$isGraphColor5: #ff8fc7;
$isGraphColor6: #ff9595;
$isGraphColor7: #ff9b37;
$isGraphColor8: #b9b91f;
$isGraphColor9: #23cf23;
$isGraphColor10: #22cc77;
$isGraphColor11: #21c6c6;

$isColorWhite: #fff;
$isColorGray: #ccc;
$isColorBlack: #000;

$isColorOverlay: rgba(0, 0, 0, 0.4);
$isColorClear: rgba(0, 0, 0, 0);
